.c-home-hero {
    padding: 120px 0 60px 0;
    background-blend-mode: soft-light;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    @include media-breakpoint-up(sm) {
        padding: 150px 0 60px 0;
    }

    @include media-breakpoint-up(lg) {
        padding: 240px 0 60px 0;
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: -80px;
        min-height: 895px;
    }

    &:after {
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: color(navy);
            opacity: 0.7;
            z-index: 1;
        }

        @supports (-ms-accelerator: true) {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: color(navy);
            opacity: 0.7;
            z-index: 1;
        }

        @supports (-ms-ime-align: auto) {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: color(navy);
            opacity: 0.7;
            z-index: 1;
        }
    }

    .c-home-hero__background-text {
        z-index: 1;
        opacity: 0.32;
        mix-blend-mode: soft-light;
        position: absolute;
        top: 160px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: flex-start;
        text-align: center;
        flex-direction: column;

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    > div {
        z-index: 2;
        position: relative;
    }
}
