.c-inline-list {
    list-style: none;
    padding: 0;
    margin: 0;

    @include media-breakpoint-up(sm) {
        display: flex;
        align-items: center;
    }

    li {
        @include media-breakpoint-up(sm) {
            padding: 0 7px;
        }

        &:first-child {
            padding-left: 0;
        }

        &:not(:last-child) {
            @include media-breakpoint-down(xs) {
                margin-bottom: 25px;
            }

            @include media-breakpoint-up(sm) {
                position: relative;
            }

            &:after {
                @include media-breakpoint-up(sm) {
                    content: '';
                    width: 1px;
                    height: 15px;
                    background-color: color(white);
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto 0;
                }
            }
        }
    }
}
