/*----------------------------------------
WordPress Login Page
----------------------------------------*/

body.login {
    background-image: url('../images/backgrounds/wp-admin-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: color(navy);
        opacity: 0.7;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: color(space);
        mix-blend-mode: soft-light;
    }

    > * {
        z-index: 2;
        position: relative;
    }

    .message {
        border-left: 4px solid color(green);
        color: color(navy);
        box-shadow: none;
        font-size: 0.9em;

        &.reset-pass {
            margin-bottom: 0 !important;
        }
    }

    #login_error {
        font-size: 0.9em;
        box-shadow: none;
    }

    div#login {
        // Logo
        h1 {
            a {
                background: url('../images/logo.svg') no-repeat;
                background-position: center;
                background-size: contain;
                width: 100%;
            }
        }

        // Actual login div

        $form_bg_color: white;

        form#loginform,
        form#passwordform,
        form#lostpasswordform,
        form#resetpassform {
            background: $form_bg_color;
            box-shadow: none;
            padding: 26px 24px 24px;
            border: none;

            label[for='user_login'],
            label[for='user_pass'] {
                font-size: 1rem;
                color: color(navy);
                display: block;
                letter-spacing: normal;
            }

            label[for='rememberme'] {
                color: color(navy);
                letter-spacing: normal;
            }

            input[type='text'],
            input[type='password'] {
                background: color(gray);
                box-shadow: none;
                color: color(navy);
                border-radius: 0;
                border: 1px solid transparent;
                font-size: 1rem;
                font-weight: normal;
                padding: 0 10px;
                height: 45px;
                width: 100%;
                display: block;

                &:focus {
                    border: 1px solid color(green);
                }
            }

            input[type='submit'] {
                border-radius: 0;
                border: 0;
                font-size: 1em;
                line-height: 1;
                text-shadow: none;
                box-shadow: none;
                font-weight: bold;
                height: 45px;
                padding: 12px 30px;
                background-color: color(green);
                color: color(navy);
                transition: 0.3s ease all;

                &:hover,
                &:focus,
                &:active {
                    background-color: color(navy);
                    color: color(green);
                }

                &[value='Log In'] {
                }

                &[value='Get New Password'] {
                    width: 100%;
                }

                &[value='Reset Password'] {
                    width: 100%;
                }
            }

            p.forgetmenot {
                height: 45px;
                display: flex;
                align-items: center;

                input[type='checkbox'] {
                    position: relative;
                    margin-top: 0;
                    display: inline-block;

                    &:focus {
                        border-bottom: none;
                    }

                    &:checked {
                        &:before {
                            line-height: 22px;
                            font-size: 22px;
                            color: #696969;
                        }
                    }
                }
            }
        }

        form#resetpassform {
            .wp-pwd {
                #pass-strength-result {
                    font-size: 0.9em;
                }

                // Hidden by default password field on 'Reset Password'
                .show-password #pass1 {
                    display: none;
                }
            }

            p.indicator-hint {
                font-size: 0.9em;
            }
        }

        // 'Back to Blog' and 'Lost Your Password'
        p#nav {
            background: $form_bg_color;
            margin: 0;
            padding: 10px 24px 0 24px;
            font-size: 0.85em;
        }

        p#backtoblog {
            background: $form_bg_color;
            margin: 0;
            padding: 24px 24px 24px 24px;
            font-size: 0.85em;
        }
    }
}
