.h-width-46 {
    width: 46px;
    max-width: 100%;
}

.h-width-175 {
    width: 175px;
    max-width: 100%;
}

.h-width-330 {
    width: 330px;
    max-width: 100%;
}

.h-width-440 {
    width: 440px;
    max-width: 100%;
}

.h-width-475 {
    width: 475px;
    max-width: 100%;
}

.h-width-630 {
    width: 630px;
    max-width: 100%;
}

.h-width-720 {
    width: 720px;
    max-width: 100%;
}

.h-width-full {
    width: 100%;
}
